@import "tailwindcss";

/* Inter Khmer Looped font */
@font-face {
  font-family: "Inter Khmer Looped";
  src: url("/fonts/InterKhmerLoopedWeight.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@custom-variant is-active (&:where(.active,:active));

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --default-font-family: "Inter Khmer Looped", sans-serif;
  --font-title: "Kantumruy Pro", sans-serif;
  --spacing-prefer: 73.25rem;
}

:root {
  --foreground: #334155;
  --background: #ffffff;
  --primary: #d45915;
}

@utility con-px-* {
  width: 100%;
  margin-inline: auto;
  max-width: min(
    100% - calc(calc(var(--spacing) * --value(integer)) * 2),
    theme("spacing.prefer")
  );
}
@utility scroll-gutter-stable {
  scrollbar-gutter: stable;
}
@utility scroll-width-thin {
  scrollbar-width: thin;
}
@utility mask-both-side-* {
  --_length: calc(theme("spacing") * --value(integer));
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black var(--_length),
    black calc(100% - var(--_length)),
    transparent 100%
  );
}

.text-title {
  @apply font-title text-foreground text-center font-semibold text-xl @2xl:text-2xl @4xl:text-3xl @4xl:font-bold;
}

.embla__container {
  @apply flex gap-4;
}
.embla__gallery_container {
  @apply flex gap-0;
}

.embla__slide {
  @apply border-2 rounded-2xl border-foreground/10 transition-colors duration-200 hover:border-primary hover:[&_img]:scale-105 shadow-sm p-4 bg-background space-y-4 grow-0 shrink-0 basis-full @[48rem]/section:basis-[calc((100%-(1rem))/2)] @[64rem]/section:basis-[calc((100%-(1rem*2))/3)] min-w-0;
}
.embla__gallery_slide {
  @apply grow-0 shrink-0 basis-full min-w-0 aspect-video overflow-hidden rounded-2xl;
  & img {
    @apply object-cover w-full h-full object-top brightness-100 saturate-105 cursor-zoom-in;
  }
}
.news-card {
  @apply border-2 @2xl:border border-foreground/20 grid grid-cols-1 p-4 gap-4 rounded-2xl shadow-sm @xl:grid-cols-2 @2xl:border-foreground/10 @2xl:grid-cols-[auto_1fr] transition-colors duration-200 hover:border-primary hover:[&_img]:scale-105;
}
.news-card-image {
  @apply aspect-[5.3/3.6] overflow-hidden rounded-md;
  & img {
    @apply object-cover w-full h-full object-top brightness-100 saturate-105 transition-[scale] duration-700;
  }
}
.news-card-info {
  @apply space-y-2 [&_p]:text-sm @2xl:[&_p]:text-[0.938rem] @4xl:[&_p]:text-[1rem] [&_p]:text-foreground/95 [&_p]:line-clamp-3 [&_h5]:line-clamp-2 [&_h5]:font-semibold [&_h5]:text-lg [&_*:where(h5)]:font-title;
}
.news-card-info-date {
  @apply flex gap-1.5 items-center [&_svg]:size-3.5 text-foreground/70 [&_h4]:font-semibold;
}
.embla__controls {
  @apply flex flex-wrap justify-center gap-4 md:gap-0 md:flex-nowrap md:flex-row md:items-start md:justify-between;
}
.embla__dots {
  @apply flex flex-wrap justify-center @4xl:justify-start items-center gap-1.5 w-fit;
  & * {
    @apply cursor-pointer w-6 h-2 rounded-full bg-foreground/20 is-active:bg-primary transition-colors duration-200 hover:not-is-active:bg-foreground/40;
  }
}
.embla__buttons {
  @apply *:border-2 *:rounded-full [&_*:where(svg)]:size-6 @4xl:[&_*:where(svg)]:size-9 *:cursor-pointer flex items-center justify-end gap-2 *:text-foreground *:p-1 *:bg-background *:hover:bg-primary *:hover:text-background *:not-disabled:hover:border-primary *:transition-colors *:duration-300 *:disabled:text-foreground/30 *:disabled:cursor-not-allowed *:disabled:bg-transparent w-fit;
}
.view-all {
  @apply text-primary font-semibold font-title text-sm @4xl:text-lg px-4 py-2 border rounded-lg transition-colors duration-300 bg-primary/5 hover:bg-primary hover:text-background;
}

.table-container {
  @apply w-full [&_thead_tr_th]:text-left [&_*:where(th,td)]:py-3 [&_*:where(th,td)]:text-foreground scroll-width-thin [&_tr]:border-b [&_tr]:border-foreground/20 [&_*:where(th,td)]:text-sm @4xl:[&_*:where(th,td)]:text-lg overflow-x-auto;
}
.brief-table-info {
  @apply flex items-center justify-between [&_*:has(svg)_svg]:size-5 *:text-primary *:font-semibold *:text-sm @4xl:*:text-lg;
}
.speaker-card {
  @apply border border-foreground/20 flex gap-4 p-4 w-full h-fit items-start rounded-2xl shadow-sm shadow-foreground/5 relative after:absolute after:right-4 after:-top-3 after:content-[attr(data-title)] after:text-primary after:text-nowrap after:px-3 after:py-0 after:border after:border-foreground/20 after:bg-background after:rounded-2xl after:font-semibold hover:after:bg-primary hover:after:text-background after:transition-colors after:duration-300 [&_*:where(img)]:cursor-zoom-in;
}
.lang-dd-item {
  @apply px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-foreground hover:bg-primary/15 focus-visible:bg-gray-50 disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer [&:has(img)_img]:size-6 gap-2;
}

/* EACH NEWS style */
.news-content-fs-button-container {
  @apply flex flex-wrap items-center justify-center gap-4;
}

/* Prevents the modal from "flashing" on page load before Alpine hides it */
[x-cloak] {
  @apply hidden!;
}

.thumbnail {
  @apply w-[200px] h-[150px] object-cover border-2 m-2 cursor-pointer duration-200 ease-in-out transition-all;
  &:hover {
    @apply scale-[1.05] shadow-[0px_4px_15px_rgba(0,0,0,0.1)];
  }
}

/* full-screen modal backdrop */
.modal-backdrop {
  @apply fixed inset-0 z-9990 bg-foreground/80 flex items-center justify-center p-4;
}

/* container for the image and close button */
.modal-content {
  @apply relative bg-background rounded-lg shadow-[0_10px_25px_rgba(0,0,0,0.4)] max-w-[90vw] max-h-[90vh];
}

/* large image inside the modal */
.modal-image {
  @apply block max-w-full max-h-[90vh] object-contain rounded-lg;
}

/* The close 'X' button */
.modal-close-btn {
  @apply absolute -top-4 -right-4 z-9991 flex items-center justify-center w-10 h-10 bg-foreground text-background border border-background rounded-full cursor-pointer font-bold text-2xl font-title transition-all duration-200 ease-in-out;
  &:hover {
    @apply bg-foreground scale-[1.1];
  }
}

/* default styles */
.btn {
  @apply flex items-center gap-1 cursor-pointer border-2 px-2 py-1.5 [&_svg]:size-4 @2xl:[&_svg]:size-6 rounded-lg font-semibold text-nowrap text-sm @2xl:text-[1rem] text-foreground/90 transition-[colors_scale] duration-150 hover:not-disabled:bg-primary hover:not-disabled:text-background disabled:text-foreground/50 disabled:cursor-not-allowed hover:not-disabled:border-primary active:not-disabled:scale-90 active:not-disabled:bg-primary active:not-disabled:text-background;
}
.round-btn {
  @apply border-2 rounded-full [&_svg]:size-4 @4xl:[&_svg]:size-6 cursor-pointer text-foreground p-2 @4xl:p-2.5 bg-background hover:bg-primary hover:text-background not-disabled:hover:border-primary transition-colors duration-300 disabled:text-foreground/30 disabled:cursor-not-allowed disabled:bg-transparent;
}

::selection {
  @apply bg-primary text-background;
}
section,
.section {
  @apply @container/section;
  & > div {
    @apply con-px-5 @container @[28rem]:w-[80%]!;
  }
}
html {
  @apply scroll-gutter-stable scroll-width-thin;
}
